.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user {
    flex-direction: column;
    align-items: center;
    width: 100px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}